/* Start variables */
:root {
  --var-color: rgb(255, 225, 0);
  --var-color: rgb(255, 0, 217);
  --var-color: rgb(26, 91, 229);
  --var-color: rgb(0, 217, 43);
  --var-color: rgb(255, 26, 26);
  --main-text-color: #eee;
  --light-color: #fff;
  --d-color: #ddd;
  --white-color: white;
  --par-color: #767676;
  --head-color: rgb(35, 35, 35);
  --line: 1.8;
}
/* End variables */
/* Start Genral rules */
body {
  font-family: 'Merriweather Sans', sans-serif;
}
html {
  scroll-behavior: smooth;
}
h1, 
h2,
h3,
h4,
h5,
h6,
p,
div {
  padding: 0;
  margin: 0;
}
* {
  box-sizing: border-box;
}
img {
  max-width: 100%;
}
button {
  border: none;
  background-color: transparent;
  outline: none;
}
a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
/* End Genral rules */
/* Start classes */
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 575px) {
  .container {
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 25px;
    margin-right: 25px;
  }
}
@media (min-width: 576px) {
  .container {
    width: 550px;
  }
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1400px) {
  .container {
    width: 1200px;
  }
}
.main-head {
  font-size: 30px;
  font-weight: 600;
  color: var(--var-color);
  text-align: center;
  position: relative;
  margin-bottom: 35px;
}

.main-head::after {
  content: '';
  position: absolute;
  background-color: var(--var-color);
  width: 80px;
  height: 4px;
  bottom: -6px;
  left: 50%;
  transform: translate(-50%);
}
/* End classes */
/* Start setting box */
.set-box {
  position: fixed;
  min-width: 230px;
  min-height: 100vh;
  background-color: var(--light-color);
  top: 0;
  left: 0;
  z-index: 1000;
  transform: translateX(-232px);
  transition: 0.2s ease;
  border-right: 2px solid var(--var-color);
}
.set-box .set-head {
  font-size: 25px;
  color: var(--head-color);
  position: relative;
  margin: 20px auto 30px;
  text-align: center;
}
.set-box .set-head::after {
  content: '';
  position: absolute;
  background-color: var(--var-color);
  width: 60px;
  height: 4px;
  bottom: -10px;
  left: 50%;
  transform: translate(-50%);
}
.set-box.set-open {
  transform: translateX(0);
}

.set-box .gear {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 100px;
  right: 0;
  width: 37px;
  height: 37px;
  background-color: var(--light-color);
  transform: translate(37px);
  cursor: pointer;
  font-size: 17px;
  border: 2px solid;
  border-color: var(--var-color) var(--var-color)  var(--var-color)  transparent;
}
.set-box.set-open .gear i {
  animation-name: rotategear;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes rotategear {
  from {
    transform: rotate(0deg);;
  }
  to {
    transform: rotate(360deg);;
  }
}
.set-box .set-item {
  margin: 15px 10px;
  background-color: var(--d-color);
  text-align: center;
}
.set-box .set-item h3 {
  color: var(--head-color);
  padding: 15px 10px 5px;
  font-size: 15px;
}
.set-box #colors .set-colors li{
  display: inline-block;
  width: 22px;
  height: 18px;
  border-radius: 3px;
  margin: 10px 5px 20px;
  cursor: pointer;
  position: relative;
}
.set-box #colors .set-colors li::after{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40%;
  background-color: white;
  opacity: 0.3;
}
.set-box #colors .set-colors li.color-active {
  outline: 4px solid var(--white-color);
  opacity: 1;
}
.set-box .set-item .set-op {
  display: flex;
  justify-content: center;
  padding: 5px;
}
.set-box .set-item .set-op li {
  padding: 5px 15px;
  background-color: var(--var-color);
  margin: 6px;
  border-radius: 5px;
  font-size: 14px;
  color: var(--white-color);
  cursor: pointer;
  opacity: 0.5;
}
.set-box .set-item .set-op li.active-op {
  opacity: 1;
}
/* End setting box */
/* Start Home */
.home {
  min-height: 100vh;
  background-color: var(--d-color);
  background-image: url('../imgs/p9.jpg');
  background-size: cover;
  background-position: center center;
  position: relative;
}
.home::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  background-image: url('../imgs/p1.jpg');
  background-size: cover;
  background-position: center center;
}
.home .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
}
.home .header .container {
  padding-top: 20px;
  padding-bottom: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.home .logo {
  width: 35px;
  transform: rotate(90deg);
}
.home .nav .links {
  display: flex;
  z-index: 1000;
}
.home .nav .links .menu-link {
  display: inline-block;
  margin: 0px 10px;
  padding: 2px;
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 400;
  color: var(--main-text-color);
  transition: 0.2s ease;
}
.home .nav .links .menu-link:hover,
.home .nav .links .menu-link.active {
  color: var(--var-color);
}
.home .nav .menu-toggle {
  display: none;
  font-size: 28px;
  color: var(--main-text-color);
  cursor: pointer;
  padding: 1px;
  position: relative;
}
.home .nav .links.open-menu + .menu-toggle .menu-arrow {
  display: inline-block;
  position: absolute;
  border: 15px solid;
  border-color: transparent transparent var(--main-text-color) transparent;
  top: 70%;
  left: 50%;
  transform: translateX(-50%);
  cursor: initial;
}
@media (max-width: 768px) {
  .home .nav .menu-toggle {
    display: block;
  }
  .home .nav .links {
    display: block;
    position: absolute;
    bottom: 100%;
    right: 0;
    width: 100%;
    background-color: var(--main-text-color);
    padding: 12px;
    border-radius: 8px;
  }
  .home .nav .links.open-menu {
    bottom: initial;
    top: 100%;
  }
  .home .nav .links li{
    width: fit-content;
    margin: 5px;
  }
  .home .nav .links .menu-link {
    color: var(--var-color);
    margin: 0px;
    font-size: 17px;
    font-weight: 600;
  }
}
.home .home-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: var(--main-text-color);
  line-height: var(--line);
  width: 100%;
  padding: 10px;
}
.home .home-text .home-title {
  font-size: 27px;
  margin-bottom: 6px;
}
.home .home-text .home-title .home-crea {
  color: var(--var-color);
  font-weight: 800;
}
.home .home-text .home-par {
  font-size: 14px;
}
@media (min-width: 768px) {
  .home .home-text .home-title {
    font-size: 35px;
  }
  .home .home-text .home-par {
    font-size: 17px;
  }
}
/* End Home */
/* Start About  */
.about {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: var(--light-color);
}
.about .about-text {
  text-align: center;
}
.about .about-par {
  color: var(--par-color);
  font-size: 15px;
  line-height: var(--line);
}
.about .about-img{
  margin: 10px auto;
  width: 300px;
  max-width: 100%;
}
@media (min-width: 768px) {
  .about .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .about .about-text {
    flex-basis: 50%;
    text-align: left;
  }
  .about .about-par {
    font-size: 17px;
  }
  .about .about-img {
    flex-basis: 40%;
  }
}
/* End About  */

/* Start Skills */
.skills {
  padding-top: 55px;
  padding-bottom: 60px;
  background-color: var(--d-color);
}
.skills .container {
  padding-top: 5px;
}
.skills .skill-item {
  display: flex;
  padding: 15px;
  background-color: var(--light-color);
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin: 25px auto;
}
.skills .skill-item .skill-name {
  font-size: 17px;
  font-weight: 600;
  width: 120px;
  text-align: center;
  margin-bottom: 15px;
  /* color: var(--head-color); */

}
.skills .skill-item .skill-show {
  height: 30px;
  background-color: var(--var-color);
  background-color: var(--main-text-color);
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
}
.skills .skill-item .skill-show span {
  display: inline-block;
  background-color: var(--var-color);
  height: 100%;
  transition: 1s ease;
}
@media (min-width: 768px) {
  .skills .skill-item {
    flex-direction: row;
    width: 90%;
  }
  .skills .skill-item .skill-name {
    margin-bottom: 0;
  }
}
/* End Skills */
/* Start Gallery */
.gallery {
  padding-top: 40px;
  padding-bottom: 50px;
}
.gallery .container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  align-items: center;
  padding-top: 20px;
  place-items: center;
}
.gallery .container img{
  padding: 2px;
  border: 1px solid var(--var-color);
  cursor: pointer;
  transition: 0.2s;
}
.gallery .container img:hover{
  filter: contrast(120%);
}
@media (min-width: 567px) {
  .gallery .container {
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  }
}
@media (max-width: 280px) {
  .gallery .container {
    grid-template-columns: repeat(1, 1fr);
  }
}
.show-img {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1000;
}
.show-img .img-box {
  position: relative;
  width: 80%;
  padding: 20px;
  background-color: var(--light-color);
}
.show-img .img-title {
  color: var(--var-color);
  font-size: 22px;
  text-align: center;
  margin-bottom: 20px;
}
.show-img .close-img {
  display: inline-block;
  position: absolute;
  width: 40px;
  height: 40px;
  top: 0;
  right: 0;
  background-color: var(--var-color);
  color: var(--light-color);
  transform: translate(50%, -50%);
  border-radius: 50%;
  font-size: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  opacity: 0.9;
  transition: 0.2s ease;
}
.show-img .close-img:hover {
  opacity: 1;
  
}
@media (min-width: 768px) {
  .show-img .img-box {
    width: 650px;
  }
}
/* End Gallery */


footer {
  height: 150vh;
  background-color: var(--var-color);
}